.section {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  opacity: 0.7;
}

.container {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 2.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.item:hover {
  transform: scale(1.2);
}

.img {
  width: 65%;
}

.name {
  font-size: 1rem;
}

@media (min-width: 528px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4rem;
  }
}

