.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
  padding: 2rem 4%;
  font-size: 1.2rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  box-shadow: 15px 15px 25px #151518, -3px -3px 25px #1f1f22;
  border-radius: 20px;
  transition: 1s;
}

.form * {
  border: none;
  outline: none;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  opacity: 0.7;
}

.wrapper_field {
  width: 100%;
}

.block_input {
  position: relative;
  width: 100%;
}

.field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.25rem;
  line-height: 1.3;
  color: var(--color-light);
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 15px 15px 21px #151518, -7px -10px 15px #1f1f22;
  transition: border-color 0.15s ease-in-out;
}

.field::-webkit-input-placeholder {
  color: transparent;
}

.field::-moz-placeholder {
  color: transparent;
}

.field:-ms-input-placeholder {
  color: transparent;
}

.field::-ms-input-placeholder {
  color: transparent;
}

.field::placeholder {
  color: transparent;
}

.field:hover,
.btn:hover {
  transform: translateY(-5px);
}

.field:hover ~.label {
  transform: translateY(-15px);
}

.field:not(:placeholder-shown):hover~.label {
  transform: translateY(-15px) scale(0.85);
}

.field:focus~.label,
.field:not(:placeholder-shown)~.label {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: var(--color-accent);
  background-color: var(--color-dark);
  border-radius: 12px;
}

.errorMessage {
  display: block;
  margin: 0.75rem 0 0 1rem;
  font-size: 0.9rem;
  text-align: left;
  color: var(--color-accent);
  opacity: 0.7;
}

textarea.field {
  height: 9rem;
  resize: none;
}

textarea.field~.label {
  top: 30%;
}

.label {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: var(--color-light);
  background-color: transparent;
  transition: top 0.1s ease-in-out, scale 0.1s ease-in-out, color 0.1s ease-in-out;
  pointer-events: none;
  opacity: 0.7;
}

.btn {
  width: 65%;
  padding: 0.75rem 5%;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: inherit;
  border: 1px solid var(--color-accent);
  border-radius: 15px;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

@media (min-width: 428px) and (max-width: 766px) {
  .form {
    width: 80%;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .form {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 55%;
  }
}