.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-header);
  font-size: 1.25rem;
  color: var(--color-light);
  background-color: transparent;
  z-index: 100;
  transition: 0.3s;
}

.header_active {
  background-color: rgba(26, 26, 29, 0.85);
}

.container {
  position: relative;
}