@font-face {
  font-family: 'Lato';
  src: local('Lato Thin'), local('Lato-Thin'), 
  url('./latothin.woff2') format('woff2'), 
  url('./latothin.woff') format('woff'), 
  url('./latothin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), 
  url('./latoregular.woff2') format('woff2'), 
  url('./latoregular.woff') format('woff'), 
  url('./latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'), 
  url('./latosemibold.woff2') format('woff2'), 
  url('./latosemibold.woff') format('woff'), 
  url('./latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}